body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  color: #3e3939;
}

.header {
  border-bottom: 1px solid #d1dee8;
  padding: 10px 0;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.item {
  display: inline;
}

button {
  background-color: #384a58;
  padding: 0px 15px;
  border-radius: 4px;
  color: #fff;
  font-size: 30px;
  border: none;
  line-height: 1;
  padding-bottom: 5px;
}

.star svg {
  width: 25px;
  height: 25px;
  fill: #ffc107;
}

.star {
  margin: 0 5px;
  display: inline-block;
  background-color: #384a58;
  line-height: 0.5;
  border-radius: 100%;
  padding: 5px;
}

.numbers {
  grid-column: 1 / span 3;
  padding: 20px;
  text-align: center;
}

.number {
  margin: 0 5px;
  display: inline-block;
  background-color: #384a58;
  line-height: 0.5;
  border-radius: 7px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.number--disabled {
  background-color: #9fb0bd;
  cursor: not-allowed;
}

.number--selected {
  background-color: #009688;
  cursor: not-allowed;
}
