body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  color: #3e3939;
}

.header {
  border-bottom: 1px solid #d1dee8;
  padding: 10px 0;
}

.timer {
  float: right;
  color: #e91e63;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.item {
  display: inline;
}

.item--align-left {
  text-align: left;
}

button {
  background-color: #607d8b;
  padding: 0px 15px;
  border-radius: 4px;
  color: #fff;
  font-size: 30px;
  border: none;
  line-height: 1;
  padding-bottom: 5px;
  margin: 5px;
  cursor: pointer;
}

button span {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

button[disabled] {
  background-color: #adbbc2;
  cursor: not-allowed;
}

button svg {
  display: inline-block;
  width: 20px;
  height: 18px;
  fill: #fff;
  vertical-align: middle;
}

.button--fail {
  background-color: #e91e63;
}

.button--success {
  background-color: #009688;
}

.button--small {
  font-size: 12px;
  padding: 10px;
}

.star svg {
  width: 25px;
  height: 25px;
  fill: #ffc107;
}

.star {
  margin: 0 5px 5px;
  display: inline-block;
  background-color: #384a58;
  line-height: 0.5;
  border-radius: 100%;
  padding: 5px;
}

.numbers {
  grid-column: 1 / span 3;
  padding: 20px;
  text-align: center;
}

.number {
  margin: 0 5px 5px;
  display: inline-block;
  background-color: #384a58;
  line-height: 0.5;
  border-radius: 7px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.number--disabled {
  background-color: #9fb0bd;
  cursor: not-allowed;
}

.number--selected {
  background-color: #ffc200;
  cursor: not-allowed;
}

.answer {
  text-align: left;
}

.done-frame {
  grid-column: 1 / span 3;
  background-color: #ffe9a8;
  padding: 20px;
  border-radius: 4px;
  color: #374a59;
  font-weight: 600;
  font-size: 20px;
}
